files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/laravel.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /var/app/current
      if [ "$ENV" == "DEV" ]; then
          cp /etc/env.dev .env
        else
          cp /etc/env.production .env
      fi
      composer.phar dump-autoload --optimize
      php artisan config:cache
      php artisan route:cache
      php artisan migrate
      php artisan passport:install

      chown -R webapp:webapp *
      touch /var/app/current/storage/logs/laravel.log && chmod 777 /var/app/current/storage/logs/laravel.log
  "/etc/logrotate.d/httpd":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/httpd/*log {
          missingok
          notifempty
          sharedscripts
          delaycompress
          create 666 webapp webapp
          postrotate
              /etc/init.d/httpd reload > /dev/null 2>/dev/null || true
              touch /var/log/httpd/laravel.log
              chown webapp:webapp /var/log/httpd/laravel.log
              chmod 777 /var/log/httpd/laravel.log
          endscript
      }

commands:
   02-start-ssm:
      command: "/sbin/start amazon-ssm-agent || true"

option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: COMPOSER_HOME
     value: /root

packages:
    yum:
        amazon-ssm-agent: []

